{% extends "./index.html" %}

{% block content %}
    <!-- Content-->
    <div class="content">
        <div class="container">
            <div class="content__inner">

                <div class="content__header">
                    <h1>{{ request.user.first_name }} {{ request.user.patronymic }} {{ request.user.last_name }}</h1>
                    <h2>{{ request.user.username }}</h2>
                </div>

                <div class="content__block content__block_w100">
                    <div class="content__block-header">Сумма на счету</div>
                        <p class="content__text"><h3>{{ request.user.balance }} руб.</h3></p>
                        <a class="btn" href="{% url 'replenishment' %}?next={{ request.path }}">Пополнить</a>
                </div>

                <div class="content__block content__block_w100">
                    <div class="content__block-header">Действующие абонементы</div>
                    {% for subscription in user_active_subscriptions %}
                    <div class="content__text">
                        <p>Абонемент на {{ subscription.trainings_qty }} занятия. Действителен с {{ subscription.get_start_date|date:"d M" }} по {{ subscription.get_end_date }}
                        <br>Осталось занятий: <b>{{ subscription.get_remaining_trainings_qty }}</b></p>
                    </div>
                    {% empty %}
                    <p>У Вас нет действующего абонемента</p>
                    <a class="btn" href="{% url 'prices' %}">Купить</a>
                    {% endfor %}
                </div>

                <div class="content__block content__block_w100">
                    <div class="content__block-header">Ваши записи на предстоящие тренировки</div>
                    <div class="content__text">
                        {% for training in user_upcoming_trainings %}
                            <p> {{ training.court.name }}, {{ training.date }}, {{ training.get_day_of_week_display }}, {{ training.start_time }}. {{ training.get_skill_level_display|capfirst }}</p>
                            <p> Адрес зала: {{ training.court.address }}</p>
                                {% if training.is_more_than_an_hour_before_start %}
                                <form method="POST">{% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ training.pk }}">
                                    <input class="btn" type="submit" value="Отменить" name="cancel">
                                </form>
                                {% else %}
                                <hr>
                                {% endif %}
                        {% empty %}
                            <p>Вы не записаны на тренировки</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="content__block content__block_w100">
                    <div class="content__block-header">Последний закончившийся абонемент за прошедший год</div>
                    <div class="content__text">
                        {% if last_not_active_subscription %}
                            <p>Абонемент на {{ last_not_active_subscription.trainings_qty }} занятий. Был действителен с {{ last_not_active_subscription.start_date }} по {{ last_not_active_subscription.end_date }}</p>
                            <p>Не использованных занятий: <b>{{ last_not_active_subscription.get_remaining_trainings_qty }}</b></p>
                        {% else %} 
                            <p>За последний год нет абонементов с истекшим сроком действия.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="content__block content__block_w100">
                    <a class="btn" href="{% url 'logout' %}">Выйти из аккаунта</a>
                </div>

            </div><!-- /.content__inner-->
        </div><!-- /.container -->
    </div><!-- /.content-->
{% endblock %}