{% extends "./index.html" %}

{% block content %}
    <!-- Content-->
    <div class="content">
        <div class="container">
            <div class="content__inner">

                <div class="content__header">
                    <h1>Новости школы</h1>
                </div>

                <div class="content__block content__block_w100">
                    {% for news in news_list %}
                    <div class="content__block-header">{{ news.title }}</div>
                    {% if news.image %}
                    <img class="content__news-img" src="{{ news.image.url }}">
                    {% endif %}
                    <p class="content__text">{{ news.text }}</p>
                    <p class="content__news-date">{{ news.date }}</p>
                    {% endfor %}
                </div>

                {% if page_obj.has_other_pages %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <span class="pagination__step-links">
                        <a href="?page=1">&laquo; в начало</a>
                        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </span>
                    {% endif %}

                    <span class="pagination__current">
                        {{ page_obj.number }}
                    </span>
            
                    {% if page_obj.has_next %}
                    <span class="pagination__step-links">
                        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
                    </span>
                    {% endif %}</span>
                </div>
                {% endif %}

            </div><!-- /.content__inner-->
        </div><!-- /.container-->
    </div><!-- /.content-->
{% endblock %}