{% extends "./index.html" %}

{% block content %}
<!-- Content-->
<div class="content">
    <div class="container">
        <div class="content__inner">

            <div class="content__header">
                <h1>Стоимость услуг</h1>
                <h2>Классический волейбол, групповые занятия (10-16 чел.)</h2>
            </div>

            <div class="content__block content__block_w100">
                <div class="content__block-header">Разовое посещение</div>
                <p class="content__text">Стоимость: {{ one_time_training.price }} руб</p>
                <p class="content__text">Длительность тренировки: 2 часа</p>
                <a class="btn" href="{% url 'levels' %}">Записаться</a>
            </div>

            {% for subscription in subscription_samples %}
            <div class="content__block content__block_w100">
                <div class="content__block-header">{{ subscription.name }}</div>
                <p class="content__text">Стоимость одного занятия по абонементу:
                    {{ subscription.get_price_for_one_training }} руб</p>
                <p class="content__text">Стоимость абонемента: {{ subscription.amount }} руб</p>
                <p class="content__text">Срок действия Абонемента: {{ subscription.validity}} дней, <br>
                    <i style="padding-left: 10px; color:dimgrey">отсчёт начинается с момента первого посещения тренировки,
                        но не позднее чем через 10 дней с момента покупки.</i></p>
                <p class="content__text">Длительность тренировки: 2 часа</p>
                <a class="btn" href="{% url 'buying-a-subscription' subscription.pk %}">Купить</a>
            </div>
            {% endfor %}

        </div><!-- /.content__inner-->
    </div><!-- /.container -->
</div><!-- /.content-->
{% endblock %}