{% extends "./index.html" %}

{% block content %}
<!-- Content-->
<div class="content">
    <div class="container">

            <div class="content__header">
                <h1>Запись на тренировку</h1>
                <h2>Подтвердите запись на тренировку:</h2>
            </div>

            <div class="content__training-block">
                <table class="content__training-table">
                    <tr>
                        <td><i>Дата:</i></td>
                        <td>{{ training.date }}, {{ training.get_day_of_week_display }}</td>
                    </tr>
                    <tr>
                        <td><i>Время:</i></td>
                        <td>{{ training.start_time }}</td>
                    </tr>
                    <tr>
                        <td><i>Зал:</i></td>
                        <td><b>{{ training.court.name }}</b></td>
                    </tr>
                    <tr>
                        <td><i>Адрес зала:</i></td>
                        <td>{{ training.court.address }}</td>
                    </tr>
                    <tr>
                        <td><i>Уровень:</i></td>
                        <td>{{ training.get_skill_level_display|capfirst }}</td>
                    </tr>
                    <tr>
                        <td><i>Свободных мест:</i></td>
                        <td>{{ training.get_free_places }}/16 </td>
                    </tr>
                </table>
                <p>Отменить запись на тренировку возможно не позднее чем за час до её начала.</p>
                {% if already_registered %}
                    <p class="content__training-msg">Вы записаны на тренировку</p>
                    {% if training.is_more_than_an_hour_before_start%}
                        <form method="POST">{% csrf_token %}
                            <input class="btn" type="submit" value="Отменить" name="cancel">
                        </form>
                    {% endif %}
                {% elif training.get_free_places > 0 %}
                    {% if subscription_of_user %}
                        <form method="POST">{% csrf_token %}
                            <input type="hidden" name="payment_by" value="subscription"> 
                            <p class="content__training-msg">Занятие будет списано с Вашего действующего абонемента.</p>
                            <input class="btn" type="submit" value="Подтвердить" name="confirm">
                        </form>
                    {% elif request.user.balance >= price_for_one_training %}
                        <form method="POST">{% csrf_token %}
                            <input type="hidden" name="payment_by" value="balance">
                            <p class="content__training-msg">Стоимость занятия в размере {{ price_for_one_training }} руб. будет списана с Вашего счёта</p>
                            <input class="btn" type="submit" value="Подтвердить" name="confirm">
                        </form>
                    {% else %}
                        <p class="content__training-msg">У вас нет действующего абонемента и недостаточно средств для оплаты занятия</p>
                        <a class="btn" href="{% url 'replenishment' %}?next={{ request.path }}">Пополнить</a>
                    {% endif %}
                {% else %}
                    <p><br></p>
                    <p class="content__training-msg">Свободных мест нет</p>
                {% endif %}
            </div>

    </div><!-- /.container -->
</div><!-- /.content-->
{% endblock %}